body {
  text-align: center;
  margin-top: 200px;
  font-family: sans-serif;
}
#timer {
  font-weight: 300;
  font-size: 100px;
}
button {
  width: 100px;
  height: 35px;
}
button:hover {
  cursor: pointer;
}
