* {
  font-family: sans-serif;
}
#my_header {
  color: rgba(200, 0, 100, 0.7);
}
input {
  font-size: 1.3em;
}
input[type=submit] {
  background-color: rgba(0, 200, 200, 0.5);
  border: none;
  outline: none;
}
.user {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}
